.App {
  text-align: center;
  background: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#card, #cards {
  display: flex;
  justify-content: space-around;
}